@model RegisterViewModel

@{
    ViewData["Title"] = "Registration";
}

<h2>Registration</h2>

<div class="alert-success">@ViewData["Message"]</div>
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Username)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Username)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Email)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Email)
    </dd>
</dl>
