@model PaginatedList<Bonbonniere.Website.Features.MusicStore.AlbumsViewModel>
@{
    ViewBag.Title = "Music Store";
}

<h2>Albums in Music Store</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">
    <div>
        <p>
            Find by title: <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" />
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>
@if (Model == null || Model.Count == 0)
{
    <p>No data.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    <a asp-action="Index" 
                       asp-route-sortOrder="@ViewData["TitleSortParm"]" 
                       asp-route-currentFilter="@ViewData["CurrentFilter"]">
                        @Html.DisplayNameFor(model => model[0].AlbumTitle)
                    </a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["PriceSortParm"]"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]">
                        @Html.DisplayNameFor(model => model[0].AlbumPrice)
                    </a>
                </th>
                <th>@Html.DisplayNameFor(model => model[0].AlbumReleaseDate)</th>
                <th>@Html.DisplayNameFor(model => model[0].AlbumArtUrl)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.AlbumTitle)</td>
                    <td>@Html.DisplayFor(modelItem => item.AlbumPrice)</td>
                    <td>@Html.DisplayFor(modelItem => item.AlbumReleaseDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.AlbumArtUrl)</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.AlbumId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.AlbumId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.AlbumId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@{ 
    var preDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @preDisabled">Previous</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">Next</a>